body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000;
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(323deg,
    #03001e 0%, 
    #3627be 30%,
    #5e50d6 70%,
    #fdeff9 100%);
    padding:  40px 60px;
}

.title {
    margin: -10px 0px;
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.title-menu {
    margin-bottom: 20px;
}

.timer {
    background-color: white;
    color: red;
    border-radius: 8px;
    border: 5px solid black;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}

.reset {
    padding: 15px 20px;
    width: 100%;
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: -10px;
}

.reset:focus {
    color: #ec38bc;
    background-color: #000;
}

.game {
    width: 540px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 3em;
    transform:  rotateY(180deg);
    transition: 0.25s;
}

.reset-menu {
    margin-bottom: -10px;
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: black;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
    transform: rotateY(180deg);
}

h6 { 
    position: relative;
    top: 25px; 
    font-size: 1.4em;
}

.name {
    text-decoration: none;
    color: inherit;
}

.name:hover {
    color: rgb(0, 0, 97);
}